body {
    background-color: aliceblue;
    font-family: 'Montserrat', Arial, 'Noto Sans SC';
    color: black;
    text-align: center;
    margin: 0; 
} 

.header {
    display: flex;
    position: sticky;
    z-index: 1000;
    align-items: center;
    top: 0;
    background-color: #2a8a8e;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.link {
    color: #F4A633;;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
 
.main {
    padding: 50px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.button {
    max-width: fit-content;
    width: 100%;
    display: block;
    background-color: #2a8a8e;
    color: white;
    font-family: 'Montserrat', Arial, 'Noto Sans SC';
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgb(193, 193, 193);
    font-size: 20px;
    border: none;
    margin: 15px auto;
    box-sizing: border-box;
}

.button:hover {
    background-color: #227275;
    color: #F4A633;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#files {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
}

.login {
    padding: 15px; 
    margin: 5px; 
    width: 300px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}